* {
    font-family: "Comic Sans MS", "Helvetica";
}

body {
    background-image: url(./img/bg.png);
    background-size: cover;
}

#sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#sec h1{
    color: white;
}

.quote-container {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}


.quote {
    font-size: 18px;
    margin-bottom: 20px;
}


.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}

.button.type3 {
    color: #002fff;
}

.button.type3.type3::after,
.button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #0019fd;
    border-right-color: #006eff;
}

.button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #ff0000;
    border-left-color: #f30000;
}

.button.type3.type3:hover:after,
.button.type3.type3:hover:before {
    border-bottom-color: #ff0000;
    border-right-color: #006eff;
    border-top-color: #0091ff;
    border-left-color: #ff0000;
    width: 100%;
    height: 100%;
}


/* popup */
.popup {
    background-image: url(./img/popup.jpg);
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2 {
    color: white;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    color: white;
}

a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}